@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
    background-color: #15161B;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo h2{
    color: #ffff;  
    font-size: 30px;  
}

.logo span{
    color: #1A7993;
}

.section-01{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.area_title h3{
    color: #fff;
    font-weight: normal;
}
.area_title h1{
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    margin-top: -15px;
}

.area_title a{
    display: inline-block;
    background-color: #1A7993;
    padding: 15px 60px;
    color: #fff;
    font-size: 20px;
}

.area_title a{
    text-decoration: none;
}

.area_title a:hover{
    color: #ffff;
    cursor: pointer;
    background-color: #15161B;
    border: 5px solid #fff;
    transition: 0.4s;
}

.image_01 img{
    width: 450px;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
}

.section-cards{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    margin-top: -120px;
    height: 400px;
}

.section-cards h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    margin-top: 50px;
}

/*
    Aqui deixamos a seção em column para o Titulo ficar em cima eos itens a baixo
    no div cards que está logo abaixo vamos deixar as imgs com o flex-direction: row; ou seja em
    linha e assim deixamos eles um do lado do outro */

.cards{
    display: flex;
    flex-direction: row; 
}

.card{
    background-color: #2C2F37;
    width: 200px;
    height: 180px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card:hover{
    background-color: #1A7993;
    transition: 0.3s;
}

.card img{
    width: 70px;
}

.section-03{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-color: #1A7993;
    height: 341px;
}

.area_title-2 h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
}

.area_title-2 h3{
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-top: -25px;

}

.area_title-2 a{
    text-decoration: none;
    display: inline-block;
    background-color: #fff;
    color: #15161B;
    padding: 20px 85px;
    font-size: 20px;
    font-weight: bold ;
}

.area_title-2 a:hover{
    color: #ffff;
    cursor: pointer;
    background-color: #15161B;
    border: 5px solid #fff;
    transition: 0.4s;
}

.section-03 img{
    width: 278px;
    height: auto;
    margin-top: 5px;
}

.image_02 img{
    width: 280px;
    height: auto;
    margin-top: 5px;
    margin-left: 10px;
}

.area-form{
    display: flex;
    justify-content: center;
    margin-bottom: 100;
    align-items: center;
    flex-direction: column;
}

.form form{
    display: flex;
    width: 400px;
    height: 300px;
    flex-direction: column;
    width: 400px;
}

.form h2{
    color: #fff;
    text-align: center;
}

.form input{
    margin-top: 20px;
    padding-left: 10px;
    height: 30px;
    border: none;
    outline: none; /*Retira as bordar quando passamos o mouse no input*/
    font-family: 'Oswald';
}

input::placeholder{
    color: #000;
    text-transform: uppercase;
   
}

input[type='submit']{
    text-transform: uppercase;
    color: #fff;
    background-color: #1A7993;
}
input[type='submit']:hover{
    height: 40px;
    color: #ffff;
    cursor: pointer;
    background-color: #15161B;
    border: 1px solid #fff;
    transition: 0.4s;
    font-size: 20px;
}

.fot{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.social{
    display: block;
    align-items: center;
}

.social h3{
    color: #fff;
    font-weight: normal;
}

.social img{
    width: 30px;
    margin-left: 13px;

}



@media (max-width: 770px){

    .section-01{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 5px;
        order: -1;
    }

    .section-01 img{
        width: 80vw;
        margin: auto;
        margin-top: 25px;
        
    }

    .section-01 {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
  
       
    }
    .section-cards{
        margin-top: 120px;
    }

    .section-cards h1{
        text-align: center;
    }

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }

    .section-03{
        width: 100%;
        max-width: 770px;
        height: 800px;
        margin-top: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .alinharM{
        text-align: center;
    }

   #QFPARTE{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
   } 

    .area_title-2 > h1 h2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

}

@media (max-width: 500px){

    .section-01{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 5px;
        order: -1;
        font-size: 15px;
    }

    .section-01 {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
  
       
    }
  

    .section-cards h1{
        text-align: center;
    }

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }

    .section-03{
        height: 800px;
        margin-top: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .alinharM{
        text-align: center;
    }

   #QFPARTE{
    width: 30vh;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    
   } 

    .area_title-2 > h1 h2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
}

@media (max-width: 380px){
    .section-01{
        display: flex;
        width: 40px;
        margin: auto;
    }

    .area_title h3{
        font-size: 20px;   
    }
    .area_title h1{
        color: #fff;
        font-size: 25px;
        line-height: 40px;
        margin-top: -5px;
    }

    .section-03{
        max-width: 670px;
        height: 610px;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    .section-03 img{
        width: 250px;
    }

    .area_title-2 h1{
        font-size: 25px;
    }

    .area_title-2 h3{
        margin-top: 15px;
        font-size: 15px;
    }

    #QFPARTE {
        width: 80px;
        font-size: 10px;
        font-weight: 700;
    }
    
    .image_02 img{
        margin: auto;
    }

    .form h2{
        font-size: 15px;
        font-weight: bold;

    }

    .form form{
        margin: auto;
        margin-top: 10px;
        justify-content: center;
        width: 90%;
    }

    .card{
        
    background-color: #2C2F37;
    width: 398px;
    height: 180px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;    
    }
}